body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fdf5f0
  color #333;
}

.navbar {
  background-color: #6f4e37
  display flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
 text-decoration: underline;
}

h2 {
  padding-top: 2rem;
}