.Business-objective {
    background-color: #fef6e4;
    padding: 2rem;
    border-radius: 10px;
    font-family: 'Delius';
    text-align: top;
    color: #333;
}

.Business-objective h2{
    font-size: 2rem;
    color: #6b4226
}

.Business-objective p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 1rem;
}